/*styles génériques*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    color: #333;
    font-family: verdana, arial, sans-serif;
    font-size: 0.95em;
    height: 100%;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    padding: 0 0 1em;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
p{
    padding: 0 0 0.5em;
}
a{
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
a:hover,a:focus{
    color: #999;
}
header,main,footer{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 100%;
}
/*header*/
header{
    background: #ddd;
    border-bottom: 1px solid #aaa;
    height: 80px;
    position: relative;
}
.header_container{
    height: 100%;
    margin: 0 auto;
    padding: 0.5em 0;
    width: 95%;
}
header nav,.logo_home,.panier_top,.recherche_top{
    display: inline-block;
}
header nav{
    height: 100%;
    text-align: center;
    vertical-align: top;
    width: 35%;
}
.logo_home{
    height: 100%;
    width: 20%;
}
.panier_top{
    height: 100%;
    width: 20%;
}
.recherche_top{
    height: 100%;
    width: 20%;
}
.bloc_blanc_top{
    background: #FFF;
    border: 1px solid #ccc;
}
/*header nav*/
header nav > ul{
    display: inline-flex;
    height: 100%;
    text-align: center;
    width: 100%;
}
header nav > ul li{
    background: #FFF;
    border: 1px solid #ccc;
    border-left: none;
    display: inline-block;
    height: 100%;
    padding: 1.5em 1em 0;
    transition: background 0.2s ease-in 0s;
    width: 30%;
}
header nav > ul li:first-child{
    border-left: 1px solid #ccc;
}
header nav > ul li.active,header nav > ul li:hover{
    background: #eee;
}
/*heder logo*/
.logo_home{
    vertical-align: top;
}
.img_logo{
    background: url("../img/interface/logo_greyscale.jpg") no-repeat scroll top left;
    background-size: cover;
    border-radius: 50%;
    display: block;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 1000px;
    width: 65px;
}
.img_logo:hover {
    background-image: url("../img/interface/logo.jpg");
    height: 100px;
    width: 100px;

    transition: height 0.5s ease-in-out 0s,width 0.5s ease-in-out 0s;
}
/*header panier*/
.panier_top{
    background: #FFF;
    position: relative;
    vertical-align: top;
}
.button_panier{
    display: block;
    cursor: default;
    padding: 1.5em 0 0;
    text-align: center;
    vertical-align: top;
}
.button_panier::before{
    content: "\e116";
}
.panier_top:hover .button_panier::before{
    color: #bbb;
}
.panier_top .content_panier_top{
    background: #FFF;
    border-top: none;
    display: none;
    left: -1px;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100.5%;
    z-index: 30;
}
.panier_top_header,.panier_top_content{
    margin: 0 0 1em;
}
.panier_top .content_panier_top ul{
    list-style: none;
}
.panier_top:hover .content_panier_top{  /* /!\ pas accessible en l'etat car pas de focus*/
    display: block;
}
.validate_panier_top button{
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 1em;
    padding: 0.5em;
    width: 80%;
}
.validate_panier_top button:hover{
    background: #eee;
    cursor: pointer;
}
/*header recherche*/
.recherche_top{
     background: #FFF;
}
.recherche_top form{
    height: 100%;
    padding: 0.5em 1em;
    text-align: center;
}
.recherche_top label,.recherche_top button{
    display: inline-block;
}
.recherche_top label{
    text-align: center;
    width: 65%;
}
.recherche_top label input{
    border: 1px solid #bbb;
    border-radius: 1em;
    padding: 0.2em 1em;
    width: 100%;
}
.recherche_top label input:focus,.recherche_top label input:hover{
    border: 1px solid #aaa;
}
.recherche_top button{
    background: transparent;
    border: none;
    width: 30%;
}
.recherche_top button{
    cursor: pointer;
}
.button_loupe::before{
    content: "\e003";
}
.recherche_top button:hover .button_loupe::before{
    color: #bbb;
}
/*main*/
main{
    background: #eee;
}
/*main promotions slider*/
    /*cf styles_slider.css*/
#promotions{
    margin: 0 0 3em;
}
/*main liste articles accueil*/
#liste_articles_accueil{
    margin: 4em 0 2em;
    padding: 1em 0;
}
#liste_articles_accueil article{
    display: inline-block;
    height: 300px;
    margin: 2em 1em;
    width: 30%;
}
#liste_articles_accueil .article_content{
    border: 1px solid #aaa;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
#liste_articles_accueil .article_price{
    text-align: center;
    width: 100%;
}
#liste_articles_accueil .article_content .description_hover{
    color: #666;
    opacity: 0;
    margin: 1em 0 0;
}
#liste_articles_accueil .article_content:hover .description_hover{
    opacity: 1;
    transition: opacity 0.2s ease-in 0s;
}
#liste_articles_accueil .article_content .article_title,
#liste_articles_accueil .article_price,
#liste_articles_accueil .article_content .description_hover{
    display: block;
    position: relative;
    z-index: 20;
}
#liste_articles_accueil .article_content .article_title{
    margin: 2em 0 0;
}
#liste_articles_accueil .article_content img{
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in 0s;
    width: 100%;
    z-index: 10;
}
#liste_articles_accueil .article_content:hover img{
    opacity: 0.8;
    width: 101%;
}
#liste_articles_accueil .article_price .article_price_details_name{
    font-weight: bold;
}
/*main detail*/
.detail_article{
    margin: 2em 0;
    padding: 0 1em;
}
.detail_top{
    height: 600px;
    text-align: center;
    width: 100%;
}
.detail_nomarticle{
    margin: 1.5em 0;
    text-align: center;
}
.detail_top_left,.detail_top_right{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.detail_top_left{
    margin: 0;
    overflow: hidden;
    width: 54%;
}
.detail_top_left img{
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.detail_top_right{
    padding: 2em 0 0;
    text-align: center;
    width: 39%;
}
.detail_top_right button{
    background: #FFF;
    border: 1px solid #bbb;
    border-radius: 1em;
    cursor: pointer;
    padding: 0.5em 1em;
    width: auto;
}
.detail_top_right button:hover{
    background: #eee;
}
.detail_top_right_prix{
    margin: 0 0 1em;
}
.detail_bot{
    margin: 2em 0 0;
}
/*footer*/
footer{
    background: #ddd;
    border-top: 1px solid #aaa;
    height: 75px;
    position: relative;
}
footer > nav{
    margin: 1.5em 0 0;
}
footer > nav > ul{
    text-align: center;
}
footer > nav > ul > li{
    display: inline-block;
    margin: 0 1em 0 0;
}
/*media queries*/
